    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-6-int">
                  <h3>Personal Interests:</h3>
                  <ul>
                    <li><p><strong>Music.</strong> Throughout my life I have always enjoyed listening and creating music through various instruments.
                    As the streaming age of music has grown into what it is today so has my opportunities to get involved with it.</p></li>
                    <li><p><strong>Hiking.</strong> As a kid growing up in rural central Pennsylvania there isn't much to do except explore. Nowadays I
                    enjoy spending weekends on nature trails and finding new parks and lookouts all over the state.
                  </ul>
                </div>
                <div class="col-sm-6-int">
                  <h3>Future Goals/Projects:</h3>
                  <ul>
                    <li><p>My current project involves a Python program integrated with google sheets to assist my responsibilities for GAP</p></li>
                    <li><p>I plan on continuing to develope in Python and Java but also learning other lucrative langugages such as JavaScript</p></li>
                    <li><p>This summer I hope to secure an software engineering internship in the application development or data science sphere.</p></li>
                  </ul>
                </div>
             </div>
             <!-- Resume Button -->
             <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                 <!-- Link to resume:  -->
                 <a href = "https://docs.google.com/document/d/16dpwTL8bibnvAqZ9RSHaxxj18xHV3MYXQwceAMrP5O0/edit?usp=sharing"><button class="btn-resume">View my Resume</button></a>
               </div>
             </div>
        </div>
    </section>
