    <!-- Intrest Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-6-int">
                  <h3>Intrests & Goals:</h3>
                    <ul>
                      <li><p>I am currently interested in software development and testing with Python and Pytest.</p></li>
                      <li><p>I plan on practicing test driven devlopment with both Python and Java, and expanding my knowledge of mutation testing.</p></li>
                      <li><p>This summer I hope to secure an software engineering internship or contribute to software development research projects.</p></li>
                    </ul>
                </div>
                <div class="col-sm-6-int">
                  <h3>Current Projects:</h3>
                  <ul>
                    <li><p style="font-size: 16pt;"><a href = "https://github.com/GatorEducator/gatorquery"><strong>GatorQuery</strong></a></p>
                    <p>I contributed to the GatorQuery course evaluation tool as part of a software project for CMPSC 481 Software Innovation.
                      This project was written primarily in Python supporting a <a href="http://flask.pocoo.org/">Flask</a> web framework for an
                      accessible web interface. As a member of a 6 person development team, I was tasked with creating the login authorization
                      system which used a flask form to query an sqlite3 database. If the user was already registered, their information and status would
                      be retrieved, redirecting them to either a student or teacher session based on their status. If there wasn't yet an account associated
                      with the login credentials, the user would be redirected to a registration page where they can input a new account into the database.
                    </p>
                  </ul>
                </div>
             </div>
        </div>
    </section>
