    <!-- Intrest Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
             <!-- Interest content -->
             <div class = "container">
                <div class="col-sm-6-int">
                  <h3>Intrests & Goals:</h3>
                    <ul>
                      <li><p>I am currently interested in software design, development, and testing with Python and Java.</p></li>
                      <li><p>I plan on practicing test driven devlopment, and expanding my knowledge of Pytest.</p></li>
                      <li><p>After graduation in May, I hope to start a full time position in the software engineering or DevOps fields.</p></li>
                    </ul>
                </div>
                <div class="col-sm-6-int">
                  <h3>Current Projects:</h3>
                  <ul>
                    <li><p style="font-size: 16pt;"><a href = "https://github.com/leonardoz15/TweetPolarity"><strong>TweetPolarity</strong></a></p>
                    <p>My current project is independent research to develop a tool to estimate the political stance of Twtter users
                      as part of my senior capstone project at Allegheny College. This tool is written primarily in Python and interacts
                      with the Twitter develoment API with support from the tweepy library. The goal is to develop an algorithm to abstract
                      a sentiment towards political entities in a tweet, and classify the user into a political ideology based on its' results
                      of every political tweet. The finished product will be fully tested in Pytest, and operatable in the command line.
                    </p>
                  </ul>
                </div>
             </div>
        </div>
    </section>
