.avi {
  width: 270px;
  height: 280px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -155px;
}
.or-about {
  text-align: center;
}

.content-section {
  padding-top: 250px;
}
p .about {
  margin-bottom: 15;
}
